*
{
    padding: 0px;/*Para todos los div*/
    margin: 0px;/*Para todos los div*/

}

/*---------------------------------------------formulario---------------------------------------------------------------------------------------------*/


.formulario{
    background-image: url("background2.jpg");
    background-size: cover;       /* llena todo */
    background-position: center; /* centra */
    background-repeat: no-repeat;

    padding: 40px;
    border-radius: 15px;

    width: 500px;
    margin: auto;

        box-shadow: 0 10px 25px rgba(0,0,0,.2); /* opcional: sombra bonita */
}




body{
    margin: 0;                 /* quita bordes blancos */
    background-image: url("background2.jpg");  /* tu fondo verde */

}






/*-----------------------------------------------DIV1-----------------------------------------------------------------------------------------------*/


.div1{/*WIKI*/
    background-color: red;/*color fondo*/
    display: flex;/*contenedor flex para los elementos columnas y filas.*/
    width: 98%;/*ancho del elemento(en este caso el fondo negro de div1)*/
    padding: 1%;/*espacio dentro del elemento*/

    align-items: center;/*Centra los elementos hijos en el eje secundario.*/

    color: whitesmoke;/*color letras*/
}



.div1_1{/*MENU DERECHA*/
    margin-left: auto;/* empuja el NOMBRE a la derecha */
}


/*-----------------------------------------------DIV2-MENU------------------------------------------------------------------------------------------------*/

/* Contenedor del botón y menú */
.dropdown{
    position:relative;         /* referencia para el menú absoluto */
    margin-left:auto;         /* empuja el menú a la derecha */

}

/* Botón MENÚ */
.dropbtn{
    background-image:url('background2.jpg');
    color:white;              /* texto blanco */
    padding:20px 50px;        /* tamaño del botón */
    border:none;              /* quita borde */
    border-radius:20px;       /* esquinas redondeadas */
    cursor:pointer;           /* manita al pasar ratón */
    font-size:18px;
}

/* Contenido desplegable (oculto) */
.dropdown-content{
    display:none;             /* oculto por defecto */
    position:absolute;        /* flota debajo del botón */
    right:0;                  /* alineado a la derecha */
    background:white;
    min-width:200px;
    border-radius:10px;
    box-shadow:0 8px 16px rgba(0,0,0,.2);

    
    z-index: 9999;   /* esto pone delante elmenu al desplegarse */
}

/* Cada enlace del menú */
.dropdown-content a{
    color:#854343;
    padding:10px;
    text-decoration:none;     /* quita subrayado */
    display:block;            /* ocupa toda la línea */
}

/* Hover en enlaces */
.dropdown-content a:hover{
    background:#e5f5c7;
}

/* Cuando pasas el ratón por dropdown muestra menú */
.dropdown:hover .dropdown-content{
    display:block;
}






.div2 /*NAV PRINCIPAL enlaces palabras*/
{

    display: flex; /*<- se separan mucho si uso el flex*/
    /*background-image:url('background2.jpg'); fondo quiero q sea animado para q se vea q caminan*/
    padding: 1%;/*espacio dentro del elemento*/

    
    /*LETRA*/
    font-size: 20px;/*letra MAS grande o chica*/
    font-family: sans-serif;/*tipo de letra*/
    text-align: center;/*para centrar el texto en medio*/

    white-space: nowrap;   /* Evita que bajen de línea.hace que todos los enlaces estén en una sola línea */
    box-shadow:0 8px 16px rgba(0,0,0,.2);

    border:none;              /* quita borde */
    border-radius:20px;       /* esquinas redondeadas */


}


/*
.div2 a:hover cambia el color de la palabra cuando ponemos encima el raton
{
    color: #0b7519;
}
*/
/*
.div2 a para que vuelva a ponerse la palabra en blanco una vez quitamos el raton
{
    color: #854343;
    text-decoration: none;Eliminala linea de abajo
    font-weight: bold;negrita
    margin-left: auto;empuja el menú a la derecha 

}
*/

/*-----------------------------------------------DIV3-------------------------------------------------------------------------------------------------*/




/*SLIDEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEER PRUEBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
*/



.div3{
    margin: 0 auto;
    width: 2000px;      /* solo se ve una imagen */
    height: 600px;
    background-color: aquamarine;
    overflow:hidden;    /*hidden para q oculte lo q este fuera.*/
}

.div3_1{

    display: flex;       /* elimina espacios */
    width: 1200px;       /* 4 imágenes de 800px */
    height: 1px;
    animation: banner 9s  infinite;

}


.div3_1 img{
    width: 800px;
    height: 666px;
    display: block;
}

/*para q se mueva y se pare, y se mueva y se pare.*/
@keyframes banner{


    /* Imagen 1 */
    0% { transform: translateX(0); }
    15% { transform: translateX(0); }

    /* Imagen 2 */
    20% { transform: translateX(-800px); }
    35% { transform: translateX(-800px); }

    /* Imagen 3 */
    40% { transform: translateX(-1600px); }
    55% { transform: translateX(-1600px); }

    /* Imagen 4 */
    60% { transform: translateX(-2400px); }
    75% { transform: translateX(-2400px); }

    /* Imagen 5 */
    80% { transform: translateX(-3200px); }
    95% { transform: translateX(-3200px); }

    /* Volver al inicio */
    100% { transform: translateX(0); }
}





























/*-----------------------------------------------DIV4-------------------------------------------------------------------------------------------------*/



.div4/*TITULO DE LA WIKI*/
{


    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: column;/*row ->Coloca los elementos en fila horizontal (de izquierda a derecha)*/

    background-image:url('background2.jpg'); /*fondo quiero q sea animado para q se vea q caminan*/
    padding: 3%;/*espacio dentro del elemento*/

    width: auto;
    height: auto;
    margin-top: 0vh;/*Margen de arriba con las imagenes pq es abosluto las img de arriba*/



    color: #854343;/*Color texto*/
    text-align: center;/*para centrar el texto en medio*/
    font-family: sans-serif;/*tipo de letra*/

}





.div4_1 /*intro de la WIKI*/
{
    
    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: row;/*row ->Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content: center;/* centra horizontalmente las cajas */

    background-image:url('background2.jpg'); /*fondo quiero q sea animado para q se vea q caminan*/
    padding: 3%;/*espacio dentro del elemento*/

    width: auto;
    height: auto;




    color: #854343;/*Color texto*/
    text-align: center;/*para centrar el texto en medio*/
    font-family: sans-serif;/*tipo de letra*/

}


/*-----------------------------------------------DIV5-------------------------------------------------------------------------------------------------*/



.div5/*QUE PUYEDES HACER EN ANIMAL CROSSING*/
{


    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: row;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content: center;/* centra horizontalmente las cajas */

    
    background-image:url('background2.jpg'); /*fondo quiero q sea animado para q se vea q caminan*/
    padding: 3%;/*espacio dentro del elemento*/

    width: auto;
    height: auto;


    color: #854343;/*Color texto*/
    text-align: center;/*para centrar el texto en medio*/
    font-family: sans-serif;/*tipo de letra*/



    justify-content: center;/* centra horizontalmente las cajas */
    gap: 10%;/* espacio entre las cajas */
    padding-top: 20vh; /* ¡esto separa las cajas del borde superior! */




}




.div5_1/*imagen ANIMAL CROSSING*/
{   
    background-image:url('pesca.jpg');
    background-repeat: no-repeat;     /* que no se repita */

    
    width: 50%;
    height: 60vh;
    border-radius: 15px;/*LE DA UN REDONDEO*/



    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: column;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content:end;/* centra horizontalmente las cajas */



}




.div5_2{/*texto actividades*/

    width: 50%;
    height: 500px;



    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: column;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content:center;/* centra horizontalmente las cajas */
    font-weight: bold;/*negrita*/

}


/*-----------------------------------------------DIV6-------------------------------------------------------------------------------------------------*/





.div6{

    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: row;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content: center;/* centra horizontalmente las cajas */

    
    background-image:url('background2.jpg'); /*fondo quiero q sea animado para q se vea q caminan*/
    padding: 3%;/*espacio dentro del elemento*/

    width: auto;
    height: auto;


    color: #854343;/*Color texto*/
    text-align: center;/*para centrar el texto en medio*/
    font-family: sans-serif;/*tipo de letra*/



    justify-content: center;/* centra horizontalmente las cajas */
    gap: 10%;/* espacio entre las cajas */
    padding-top: 20vh; /* ¡esto separa las cajas del borde superior! */



}



.div6_1/*HOJA ANIMAL CROSSING*/
{   
    background-image: url('pato.jpg');
    background-repeat: no-repeat;     /* que no se repita */
    background-position: center;      /* centrada */
    background-size: contain;   /* llena todo el div  otra opc-> contain;          NO recorta, ajusta dentro */

    width: 50%;
    height: 60vh;
    border-radius: 15px;/*LE DA UN REDONDEO*/


    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: column;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content:end;/* centra horizontalmente las cajas */



}




.div6_2{/*texto actividades*/

    width: 50%;
    height: 500px;



    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: column;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content:center;/* centra horizontalmente las cajas */
    font-weight: bold;/*negrita*/

}



/*-----------------------------------------------DIV7-------------------------------------------------------------------------------------------------*/





.div7{

    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: row;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content: center;/* centra horizontalmente las cajas */

    
    background-image:url('background2.jpg'); /*fondo quiero q sea animado para q se vea q caminan*/
    padding: 3%;/*espacio dentro del elemento*/

    width: auto;
    height: auto;


    color: #854343;/*Color texto*/
    text-align: center;/*para centrar el texto en medio*/
    font-family: sans-serif;/*tipo de letra*/



    justify-content: center;/* centra horizontalmente las cajas */
    gap: 10%;/* espacio entre las cajas */
    padding-top: 20vh; /* ¡esto separa las cajas del borde superior! */



}



.div7_1/*HOJA ANIMAL CROSSING*/
{   
    background-image: url('crear_ropa.jfif');
    background-repeat: no-repeat;     /* que no se repita */
    background-position: center;      /* centrada */
    background-size: contain;   /* llena todo el div  otra opc-> contain;          NO recorta, ajusta dentro */

    width: 50%;
    height: 60vh;
    border-radius: 15px;/*LE DA UN REDONDEO*/


    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: column;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content:end;/* centra horizontalmente las cajas */



}




.div7_2{/*texto actividades*/

    width: 50%;
    height: 500px;



    display: flex;/*Convierte el contenedor en un contenedor flexible (Flexbox).Permite alinear elementos fácilmente vertical y horizontalmente*/
    flex-direction: column;/*Coloca los elementos en fila horizontal (de izquierda a derecha)*/
    justify-content:center;/* centra horizontalmente las cajas */
    font-weight: bold;/*negrita*/

}



/*-----------------------------------------------DIV8-------------------------------------------------------------------------------------------------*/


.div8 {
    position: fixed;   /* Lo saca del flujo normal y lo fija */
    bottom: 0;         /* Pegado al fondo de la ventana */
    left: 0;
    width: 100%;       /* Para que ocupe todo el ancho */
    height: 10vh;
    
    background-image: url('background_final.jfif');
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;

    text-decoration: none; /*Quita la linea que se le pone debajo del boton*/


}






















/* --------------PC------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 601px) and (max-width: 1300px){

/* HEADER */
.div1{
  flex-direction: row;
}

/* SLIDER */
.div3{
  width:800px;
  height:600px;
}

/* INTRO */
.div4_1{
  flex-direction: row;
}

/* SECCIONES ACTIVIDADES / SOCIALIZAR / CREAR */
.div5,
.div6,
.div7{
  flex-direction: row;
  padding-top:15vh;
}

/* IMÁGENES */
.div5_1,
.div6_1,
.div7_1{
  width:50%;
  height:60vh;
}

/* TEXTOS */
.div5_2,
.div6_2,
.div7_2{
  width:50%;
  height:500px;
}

/* FORMULARIO */
.formulario{
  width:500px;
}

/* FOOTER */
.div8{
  position:fixed;
  height:10vh;
}

}


/* --------------MODO MÓVIL-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1px) and (max-width: 600px){

/* HEADER */
.div1{
  flex-direction: column;
  text-align: center;
}

/* BOTÓN MENÚ */
.dropbtn{
  padding:10px 20px;
  font-size:16px;
}

/* SLIDER */
.div3{
  width:100%;
  height:300px;
}

.div3_1 img{
  width:100%;
  height:auto;
}

/* INTRO */
.div4_1{
  flex-direction: column;
  gap:20px;
}

/* SECCIONES ACTIVIDADES / SOCIALIZAR / CREAR */
.div5,
.div6,
.div7{
  flex-direction: column;
  padding-top:40px;
}

/* IMÁGENES */
.div5_1,
.div6_1,
.div7_1{
  width:100%;
  height:250px;
}

/* TEXTOS */
.div5_2,
.div6_2,
.div7_2{
  width:100%;
  height:auto;
}

/* FORMULARIO */
.formulario{
  width:90%;
}

/* FOOTER */
.div8{
  position:relative;
  height:auto;
  padding:20px;
}

}